My first python code

In [4]:
print ("Hello, World!")

Hello, World!

Python Indentation

In [5]:
if 3 < 7:
    print("Seven is greater than three")
if 3 < 7:
        print("Seven is greater than three")

Seven is greater than three
Seven is greater than three

Syntax Error

In [6]:
if 3 < 7:
print("Seven is greater than three")

IndentationError: expected an indented block after 'if' statement on line 1 (2649920072.py, line 2)

In [7]:
if 3 < 7:
    print("Seven is greater than three")
        print("Seven is greater than three")

IndentationError: unexpected indent (2870826433.py, line 3)

Comments

In [3]:
#this is comment
print("Hello, World!")

Hello, World!

In [4]:
print("Hello, World!") #this is comment

Hello, World!

In [5]:
#print("Hello, World!")
print("Hi, Mate!")

Hi, Mate!

In [6]:
"""
This is comment
written in 
more than
one line
"""
print("Hello, World!")

Hello, World!

Python variables

In [1]:
a = 3
b = "Hello, World"
print(a)
print(b)

3
Hello, World

In [7]:
x = str(3) #x will be '3'
y = int(3) #y will be 3
z = float(3) #z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

In [5]:
x = 3
y = "apple"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
x = "John"
print(x)
#quotes don't matter
x = 'Johnny'
print(x)

John
Johnny

In [15]:
a = 7
A = "Hello, World!" #A will not overwrite a
print(a)

7

In [16]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [19]:
2myvar = "John" 
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2905996128.py, line 1)

In [1]:
x, y, z = "Apple", "Banana", "Mango"

print(x)
print(y)
print(z)

Apple
Banana
Mango

In [2]:
x = y = z = "Python"
print(x)
print(y)
print(z)

Python
Python
Python

In [4]:
fruits = ["apple", "banana", "cherry"]
a, b, c = fruits
print(a)
print(b)
print(c)

apple
banana
cherry

In [6]:
x = "Python is awesome"
print(x)

Python is awesome

In [7]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [8]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [9]:
x = 5
y = 10
print(x + y)

15

In [10]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
x = 5
y = "John"
print(x, y)

5 John

In [12]:
x = "awesome"
def myfunc():
  print("Python is " + x)
myfunc()

Python is awesome

In [13]:
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [14]:
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [15]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [16]:
x = 20.5
print(x)
print(type(x)) 
x = 1j
print(x)
print(type(x)) 
x = ["apple", "banana", "cherry"]
print(x)
print(type(x)) 
x = ("apple", "banana", "cherry")
print(x)
print(type(x)) 
x = {"name" : "John", "age" : 36}
print(x)
print(type(x)) 
x = {"apple", "banana", "cherry"}
print(x)
print(type(x)) 
x = True
print(x)
print(type(x)) 
x = b"Hello"
print(x)
print(type(x))

20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'banana', 'cherry', 'apple'}
<class 'set'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>

In [17]:
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [22]:
import random
print(random.randrange(1, 10))

2

In [23]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [24]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [25]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

Strings

In [26]:
print("Hello")
print('Hello')

Hello
Hello

In [28]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [29]:
#we can assign a multiline string to a variable by using """
a = """Lorem ipsum dolor sit amet, 
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [30]:
a = "Hello, World!"
print(a[1])

e

In [31]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [32]:
a = "Hello, World!"
print(len(a))

13

In [34]:
txt = "The best things in life are free!"
print("free" in txt) #check that a phrase or char is present in a str by "in"

True

In [35]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [36]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [37]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [38]:
b = "Hello, World!"
print(b[2:5])

llo

In [39]:
b = "Hello, World!"
print(b[:5])

Hello

In [40]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [41]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [42]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [44]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [46]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [47]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [48]:
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

In [49]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [50]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [51]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [52]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [1]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [2]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [3]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [4]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.