Python Booleans

In [1]:
print(10 > 7)
print(10 == 7)
print(10 < 7)

True
False
False

In [3]:
a = 99
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [4]:
print(bool("Python"))
print(bool(10))

True
True

In [5]:
x = "PP"
y = 3

print(bool(x))
print(bool(y))

True
True

In [9]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "mango", "banana"]))

True
True
True

In [10]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [11]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [12]:
def myFunction() :
  return True

print(myFunction())

True

In [13]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [14]:
x = 200
print(isinstance(x, int))

True

Python Operators

In [16]:
x = 3
print(x)

3

In [17]:
x = 3
x += 5
print(x)

8

In [18]:
x = 2
x -= 4
print(x)

-2

In [19]:
x = 6
x *= 2
print(x)

12

In [20]:
x = 15
x /= 4
print(x)

3.75

In [21]:
x = 10
x %= 3
print(x)

1

In [22]:
x = 13
x //= 2
print(x)

6

In [23]:
x = 3
x **= 4
print(x)

81

In [31]:
x = 5
x &= 3
print(x)

1

In [33]:
x = 10
x |= 3
print(x)

11

In [35]:
x = 4
x ^= 2
print(x)

6

In [37]:
x = 27
x >>= 3
print(x)

3

In [38]:
x = 2
x <<= 2
print(x)

8

In [40]:
print(x := 9)

9

In [41]:
x = 5
y = 8
print(x == y)

False

In [42]:
x = 3
y = 1
print(x!=y)

True

In [47]:
x = 4
y = 5
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True

In [48]:
x = 5
print(x > 3 and x < 10)

True

In [49]:
x = 5
print(x > 3 or x < 4)

True

In [50]:
x = 5
print(not(x > 3 and x < 10))

False

In [52]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
print(x is y)
print(x is not y)
print(x == y)

True
False
True
True

In [53]:
x = ["apple", "banana"]
print("banana" in x)

True

In [54]:
x = ["apple", "banana"]
print("pineapple" not in x)

True

In [55]:
print(6 & 3)
print(7 | 3)
print(5 ^ 1)
print(~5)
print(5 << 2)
print(8 >> 1)

2
7
4
-6
20
4

In [56]:
print((6 + 3) - (6 + 3))

0

In [57]:
print(100 + 5 * 3)

115

In [58]:
print(5 + 4 - 7 + 3)

5

Python Lists

In [59]:
list = ["apple", "banana", "cherry"]
print(list)

['apple', 'banana', 'cherry']

In [60]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [61]:
list = ["apple", "banana", "cherry","mango"]
print(len(list))

4

In [62]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [64]:
list1 = ["abc", 34, True, 4.7]
print(list1)

['abc', 34, True, 4.7]

In [65]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [71]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

In [72]:
thislist = ["apple", "banana", "cherry", "mango"]
print(thislist[-1])

mango

In [73]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [74]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [76]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[4:])

['kiwi', 'melon', 'mango']

In [77]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [78]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [79]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "mango"
print(thislist)

['apple', 'mango', 'cherry']

In [83]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["pineapple", "watermelon"]
print(thislist)

['apple', 'pineapple', 'watermelon', 'orange', 'kiwi', 'mango']

In [85]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["mango", "kiwi"]
print(thislist)

['apple', 'mango', 'kiwi', 'cherry']

In [86]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["kiwi"]
print(thislist)

['apple', 'kiwi']

In [87]:
list = ["apple", "banana", "cherry"]
list.insert(2, "watermelon")
print(list)

['apple', 'banana', 'watermelon', 'cherry']

In [88]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [89]:
l = ["apple", "banana", "cherry"]
l.insert(1, "orange")
print(l)

['apple', 'orange', 'banana', 'cherry']

In [90]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [91]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [92]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [94]:
tl = ["apple", "banana", "cherry", "banana", "kiwi"]
tl.remove("banana")    #removes first occurrence
print(tl)

['apple', 'cherry', 'banana', 'kiwi']

In [95]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [97]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()    #removes the last item
print(thislist)

['apple', 'banana']

In [99]:
thislist = ["apple", "banana", "cherry"]
del thislist[2]
print(thislist)

['apple', 'banana']

In [102]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [103]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [2]:
list = ["apple", "cherry", "banana"]
for x in list:
    print(x)

apple
cherry
banana

In [3]:
list = ["apple", "banana", "cherry"]
for i in range(len(list)):
  print(list[i])

apple
banana
cherry

In [4]:
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
banana
cherry

In [8]:
list = ["a","b","c"]
[print(x) for x in list]

a
b
c

[None, None, None]

In [10]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new = []
for x in fruits:
  if "a" in x:
    new.append(x)
print(new)

['apple', 'banana', 'mango']

In [11]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new = [x for x in fruits if "a" in x]
print(new)

['apple', 'banana', 'mango']

In [12]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "kiwi"]
print(newlist)

['apple', 'banana', 'cherry', 'mango']

In [13]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [14]:
list = [x for x in range(7)]
print(list)

[0, 1, 2, 3, 4, 5, 6]

In [15]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [17]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
list = [x.upper() for x in fruits]
print(list)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "apple" else "orange" for x in fruits]
print(newlist)

['orange', 'banana', 'cherry', 'kiwi', 'mango']

In [20]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [21]:
a = [100, 50, 65, 82, 23]
a.sort()
print(a)

[23, 50, 65, 82, 100]

In [22]:
f = ["orange", "mango", "kiwi", "pineapple", "banana"]
f.sort(reverse = True)
print(f)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [23]:
a = [100, 50, 65, 82, 23]
a.sort(reverse = True)
print(a)

[100, 82, 65, 50, 23]

In [25]:
def myfunc(n):
  return abs(n - 50)
l = [100, 50, 65, 82, 23]
l.sort(key = myfunc)     #closer to 50
print(l)

[50, 65, 23, 82, 100]

In [27]:
l = ["banana", "Orange", "Kiwi", "cherry"] 
l.sort()     #capital letters being sorted before lower case letters
print(l)

['Kiwi', 'Orange', 'banana', 'cherry']

In [28]:
f = ["banana", "Orange", "Kiwi", "cherry"]
f.sort(key = str.lower)
print(f)

['banana', 'cherry', 'Kiwi', 'Orange']

In [29]:
a = ["banana", "Orange", "Kiwi"]
a.reverse()
print(a)

['Kiwi', 'Orange', 'banana']

In [30]:
l = ["apple", "banana", "cherry"]
myl = l.copy()
print(myl)

['apple', 'banana', 'cherry']

In [33]:
l = ["apple", "banana", "cherry"]
myl = l[:]
print(myl)

['apple', 'banana', 'cherry']

In [34]:
a = ["a","b","c"]
b = [1,2,3]
c = a + b
print(c)

['a', 'b', 'c', 1, 2, 3]

In [35]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [36]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Python Tuples

In [37]:
tuple = ("apple", "banana", "cherry")
print(tuple)

('apple', 'banana', 'cherry')

In [38]:
t = ("apple", "banana", "cherry", "apple", "cherry")
print(t)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [39]:
t = ("apple", "banana", "cherry")
print(len(t))

3

In [41]:
thistuple = ("apple",)
print(type(thistuple))

thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [44]:
t1 = ("apple", "banana", "cherry")
t2 = (1, 5, 7, 9, 3)
t3 = (True, False, False)
print(t1)
print(t2)
print(t3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [45]:
tuple1 = ("abc", 91, False, 6.1)
print(tuple1)

('abc', 91, False, 6.1)

In [46]:
myt = ("apple", "banana", "cherry", "mango")
print(type(myt))

<class 'tuple'>

In [48]:
tuple = ("apple", "banana", "cherry", "melon")
print(tuple[2])

cherry

In [49]:
tuple = ("apple", "banana", "cherry")
print(tuple[-1])

cherry

In [50]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[2:5])

('cherry', 'orange', 'kiwi')

In [51]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [54]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[4:])

('kiwi', 'melon', 'mango')

In [55]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[-6:-2])

('banana', 'cherry', 'orange', 'kiwi')

In [58]:
tuple = ("apple", "banana", "cherry")
if "cherry" in tuple:
  print("Yes, 'cherry' is in the fruits tuple")

Yes, 'cherry' is in the fruits tuple

In [61]:
tuple = ("apple", "banana", "cherry")
y = ("orange",)
tuple += y
print(tuple)

('apple', 'banana', 'cherry', 'orange')

In [62]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [63]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [64]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [66]:
fruits = ("apple", "banana", "cherry", "strawberry", "mango")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'mango']

In [67]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [68]:
tuple = ("apple", "banana", "cherry")
for x in tuple:
  print(x)

apple
banana
cherry

In [69]:
tuple = ("apple", "banana", "cherry")
for i in range(len(tuple)):
  print(tuple[i])

apple
banana
cherry

In [70]:
tuple = ("apple", "banana", "cherry")
i = 0
while i < len(tuple):
  print(tuple[i])
  i = i + 1

apple
banana
cherry

In [71]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [72]:
f = ("apple", "banana", "cherry")
myt = f * 2
print(myt)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Python Sets

In [73]:
set = {"apple", "banana", "cherry"}
print(set)

{'banana', 'cherry', 'apple'}

In [79]:
set = {"apple", "banana", "cherry", "apple"}  #set can't have 2 items with same value
print(set)

{'banana', 'cherry', 'apple'}

In [78]:
s = {"apple", "banana", "cherry", False, True, 0}
print(s)

{False, True, 'banana', 'apple', 'cherry'}

In [81]:
set = {"apple", "banana", "cherry", "mango", "kiwi"}
print(len(set))

5

In [85]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, True}
print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [87]:
set1 = {"PP", 21, True, 9.81}
print(set1)

{True, 21, 'PP', 9.81}

In [89]:
myset = {"apple", "banana", "kiwi"}
print(type(myset))

<class 'set'>

In [92]:
set = {"apple", "banana", "cherry"}
for x in set:
  print(x)

banana
cherry
apple

In [94]:
set = {"apple", "banana", "cherry"}
print("banana" in set)

True

In [95]:
set = {"apple", "banana", "cherry"}
print("banana" not in set)

False

In [96]:
s = {"apple", "banana", "cherry"}
s.add("orange")
print(s)

{'banana', 'cherry', 'apple', 'orange'}

In [97]:
s = {"apple", "banana", "cherry"}
tr = {"pineapple", "mango", "papaya"}
s.update(tr)
print(s)

{'banana', 'apple', 'papaya', 'cherry', 'pineapple', 'mango'}

In [98]:
set = {"apple", "banana", "cherry"}
myl = ["kiwi", "orange"]
set.update(myl)
print(set)

{'orange', 'cherry', 'banana', 'apple', 'kiwi'}

In [99]:
set = {"apple", "banana", "cherry"}
set.remove("banana")
print(set)

{'cherry', 'apple'}

In [100]:
set = {"apple", "banana", "cherry"}
set.discard("banana")
print(set)

{'cherry', 'apple'}

In [102]:
set = {"apple", "banana", "cherry"}
x = set.pop()   #remove random item
print(x)        #removed
print(set)

banana
{'cherry', 'apple'}

In [103]:
set = {"apple", "banana", "cherry"}
set.clear()
print(set)

set()

In [108]:
s = {"apple", "banana", "cherry"}
del s
print(s)

NameError: name 's' is not defined

In [109]:
set = {"apple", "banana", "cherry"}
for x in set:
  print(x)

banana
cherry
apple

In [110]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [111]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [112]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"Arman", "Almas"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'cherry', 'apple', 'a', 'c', 'Arman', 'Almas', 'b'}

In [113]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"Arman", "Almas"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'bananas', 'cherry', 'apple', 'a', 'c', 'Arman', 'Almas', 'b'}

In [115]:
x = {"a", "b", "c"}
y = (1, 2, 3)        #we can join a set with other data types
z = x.union(y)
print(z)

{1, 2, 3, 'a', 'c', 'b'}

In [116]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [1]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [2]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

{'apple'}

In [3]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [4]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'microsoft', 'google', 'banana', 'cherry'}

In [9]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'microsoft', 'google', 'banana', 'cherry'}

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'microsoft', 'google', 'banana', 'cherry'}

Python Dictionaries

In [12]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1971
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1971}

In [13]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1971
}
print(dict["model"])

Mustang

In [14]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1971,
  "year": 2021
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2021}

In [15]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1971
}
print(len(dict))

3

In [17]:
dict = {
  "brand": "Mercedes",
  "electric": False,
  "year": 1971,
  "colors": ["red", "white", "blue"]
}
print(dict)

{'brand': 'Mercedes', 'electric': False, 'year': 1971, 'colors': ['red', 'white', 'blue']}

In [18]:
dict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(type(dict))

<class 'dict'>

In [23]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["year"]
print(x)

1964

In [24]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [26]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x) 
car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [27]:
dict = {
  "brand": "Mercedes",
  "electric": False,
  "year": 1971,
  "colors": ["red", "white", "blue"]
}
x = dict.values()
print(x)

dict_values(['Mercedes', False, 1971, ['red', 'white', 'blue']])

In [29]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) 
car["color"] = "white"
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'white'])

In [30]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print(x) 
car["color"] = "white"
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [31]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "brand" in thisdict:
  print("Yes, 'brand' is one of the keys in the thisdict dictionary")

Yes, 'brand' is one of the keys in the thisdict dictionary

In [35]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [36]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [37]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("year")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [40]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "color": "Red"
}
thisdict.popitem()    # remove the last inserted item
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [41]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [42]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [43]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [44]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [45]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [46]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [47]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

In [48]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [52]:
myfamily = {
  "child1" : {
    "name" : "Arman",
    "year" : 2004
  },
  "child2" : {
    "name" : "Sayat",
    "year" : 2007
  },
  "child3" : {
    "name" : "Aiym",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Arman', 'year': 2004}, 'child2': {'name': 'Sayat', 'year': 2007}, 'child3': {'name': 'Aiym', 'year': 2011}}

In [53]:
child1 = {
  "name" : "Arman",
  "year" : 2004
}
child2 = {
  "name" : "Sayat",
  "year" : 2007
}
child3 = {
  "name" : "Aiym",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Arman', 'year': 2004}, 'child2': {'name': 'Sayat', 'year': 2007}, 'child3': {'name': 'Aiym', 'year': 2011}}

In [54]:
myfamily = {
  "child1" : {
    "name" : "Arman",
    "year" : 2004
  },
  "child2" : {
    "name" : "Sayat",
    "year" : 2007
  },
  "child3" : {
    "name" : "Aiym",
    "year" : 2011
  }
}
print(myfamily["child3"]["year"])

2011

In [55]:
myfamily = {
  "child1" : {
    "name" : "Arman",
    "year" : 2004
  },
  "child2" : {
    "name" : "Sayat",
    "year" : 2007
  },
  "child3" : {
    "name" : "Aiym",
    "year" : 2011
  }
}
for x, obj in myfamily.items():
    print(x)
    for y in obj:
        print(y + ':', obj[y])

child1
name: Arman
year: 2004
child2
name: Sayat
year: 2007
child3
name: Aiym
year: 2011

Python Conditions

In [56]:
a = 30
b = 210
if b > a:
  print("b is greater than a")

b is greater than a

In [57]:
a = 33
b = 200
if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 3 (1111622982.py, line 4)

In [58]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [60]:
a = 99
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [61]:
a = 72
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [62]:
if a > b: print("a is greater than b")

a is greater than b

In [63]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [64]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [65]:
a = 156
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [67]:
a = 81
b = 12
c = 100
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [68]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [69]:
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [73]:
a = 33
b = 200
if b > a:
  pass       #if you have an if with no content

In [74]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [75]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [76]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [77]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [78]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [80]:
for x in "python":
  print(x)

p
y
t
h
o
n

In [81]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [82]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [83]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [84]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

In [86]:
for x in range(3,6):
  print(x)

3
4
5

In [87]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [88]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [90]:
for x in range(6):
  if x == 5: break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4

In [91]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [92]:
for x in [0, 1, 2]:
  pass